.hero-bg {
  background-image: url("../asset/IMG.PNG");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
